.App {
  text-align: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.main-div {
display: flex;
justify-content: start;
height: 70vh;
margin: 25% 5% 5%;
}

a {
  text-decoration: none;
  color: inherit;
}